body {
    background-color: #ededed;
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #ea6d20;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 24px 18px;
    display: inline-block;
}

.inner {
    width: 1000px;
    margin: 0px auto;
}

section {
    height: 1000px;
    font-size: 100px;
    padding-top: 70px;
    margin-top: -70px;
}

.lower {
    margin-top: 70px;
}

.active{
	background-color:#ffff00;
}

#two {
    background-color: #dddddd;
}
